<!DOCTYPE html>
<html>
<head>
	<% include partials/header %>
</head>
<body>
	<% include partials/nav %>

	<div class="container">

		<div class="page-header text-center">
			<h1><span class="fa fa-anchor"></span> Profile</h1>
			<% if (locals.ownProfile) { %>
				<a href="/profile/<%= username %>/edit" class="btn btn-default btn-sm">Edit Profile</a>
				<a href="/logout" class="btn btn-default btn-sm">Logout</a>
			<% } %>
		</div>

		<div class="row">

			<div class="col-sm-6">
				<div class="well">
					<h3><span class="fa fa-user"></span> Local</h3>

						<p>
							<strong>username</strong>: <%= username %><br>
							<strong>Profile Image</strong>: <%= profile.image %><br>
							<strong>Profile Bio</strong>: <%= profile.bio %><br>
							<strong>Twitch URL</strong>: <%= profile.twitchUrl %>
						</p>
				</div>
			</div>
		</div>

	</div>

	<% include partials/footer %>
</body>
</html>