<!DOCTYPE html>
<html>
<head>
	<% include partials/header %>
</head>
<body>
	<% include partials/nav %>

	<div class="container">

		<div class="row">
			<div class="col-lg-3 col-lg-offset-1">
				<div class="row">
					<img src="<%= profile.image %>" class="img-responsive"/>
					<h1><strong><%= username %></strong></h1>
					<h4>Account Created: <%= created_date %>
					<% if (locals.ownProfile) { %>
						<a href="/profile/<%= username %>/editImage" class="btn btn-default btn-sm col-lg-12">Edit Profile Image</a>
						<a href="/profile/<%= username %>/editBio" class="btn btn-default btn-sm col-lg-12">Edit Profile Bio</a>
					<% } %>
				</div>
			</div>
			<div class="col-lg-5 col-lg-offset-1">
				<div class="row">
					<h2>Bio:</h2>
					<p><%= profile.bio %></p>
				</div>
				<div class="row">
					<h2>Decks:</h2>
					<p>None Yet!</p>
				</div>
			</div>

		</div>

	</div>

	<% include partials/footer %>
</body>
</html>